<footer class="footer">
  <div class="container">
    <div class="footer-bottom has-text-centered">
      &copy; {{date format="YYYY"}} <a href="{{@site.url}}">Patrick Campanale</a>.
    </div>
  </div>
</footer>
